$red: #B51E23;
$sky: #B6DCF0;
$grey: #666666;


html, body{
    box-sizing: border-box;
}

.size1{
    height: 75%;
    top: 0;
    margin: auto auto 0 auto;
    background-color: $red;
}

.grey1{
    background-color: $red;
    height: 10px;
    border: 1px $grey solid;
    margin: auto auto 0 auto;
    width: 66%;
}

.grey2{
    background-color: $red;
    height: 10px;
    border: 1px $grey solid;
    margin: auto auto 0 auto;
    width: 66%;
}









.main_line1{
    height: 100%;
    bottom: 0;
    position: absolute;
    left: 49%;
    width: 11px;
    background-color: $red;
    border: 1px $grey solid;
}

.container{
    display: block;
    margin: 120px auto;
    width: 350px;
}

.cases{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 190px;
    flex-wrap: wrap;
    margin: auto auto auto 0;
    height: 90px;

    .case{
        border: 1px solid $red;
        border-radius: 5px;
        text-align: center;
        width: 40px;
        height: 40px;
        margin: auto;
        cursor: pointer;
        display: table;
        transition: 500ms ease-in-out;


        p{
            display: table-cell;
            vertical-align: middle;
        }

    }

    .case:hover{
        transform: scale(1.1);
        border: 2px $sky solid;

        p{
            font-weight: bold;
        }
    }
}



.main{
    display: block;
    width: 300px;
    margin: 20px auto;

    &__top{
        padding-left: 10px;
        &__box{
            margin: auto;
            height: 90px;
            width: 55px;
            border: 10px solid $sky;
            border-radius: 10px 10px 20px 20px;
            background-color: $grey;
            position: relative;

            .size{
                width: 100%;
                background-color: $red;
                bottom: 0;
                position: absolute;
            }


        }


    }

    &__content{
        display: block;
        position: relative;
        height: 200px;

        &__line{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;

            .line{
                width: 50%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height:  15px;
                margin: 20px auto;

                .people{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 25%;
                    margin-right:  5px ;

                    i{
                        margin-left: 0;
                        color: $grey;
                    }
                }

                .grey{
                    height: 10px;
                    background-color: $grey;
                    border: 1px $grey solid;
                    margin: auto auto 0 auto;
                    width: 66%;
                }

            }

            .right{
                flex-direction: row-reverse;
            }
        }

        .main-line{
            height: 100%;
            bottom: 0;
            position: absolute;
            left: 49%;
            width: 11px;
            background-color: $grey;
            border: 1px $grey solid;


        }
    }

}